*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    transition: 0.5s;
}
.container{
    width: 30rem;
    /* height: 15rem; */
    padding: 10px;
    text-align: center;
     /* text-align: center;   container ak inline element hota ha or ye only text-align se center me jata ha  */
    border-radius: 10px;
    font-size: 40px;
    background-color: white;
}
button{
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px !important;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}